{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moderator:</title>
    <link rel="stylesheet" type="text/css" href="{% static 'courses/css/moderating.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    
    <header class="header">
        <div class="container">
            <div class="topnav" id="myTopnav">
                <a href="#courses" class="active">Courses</a>
                <a href="#home">Homepage</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
              </div>
        </div>
    </header>

    <section>
    <div class="container">
            <h1>Courses</h1>
        {% for course in courses %}
            <hr>
            <button class="accordion"><h3>Title: </h3>{{ course.Title }} <h3>Author:</h3> Alikhan</button>
                <div class="panel">
                    <h3 style="color: #E55F5F;margin: 10px 0;">Description: </h3>
                    <p>{{ course.Description }}</p>
                    <div class="button__items">
                        <input class="decline__btn" type="submit" value="decline">
                        <input class="revision__btn" type="submit" value="send for revision">
                        <input class="accept__btn" type="submit" value="accept">
                    </div>
                </div>
        {% endfor %}
    </div>



        
    </section>

    <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
            }
        }

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
            panel.style.maxHeight = null;
            } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
        }
    </script>
</body>
</html>
