{% load static %}
{#{% load crsf %}#}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Регистрация</title>
	<link rel="shortcut icon" href="{% static 'courses/img/favicon.png' %}">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'courses/css/login.css' %}">
</head>
<body>
	<form data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000" id="sign" method="POST" action="{% url 'apis:user-create' %}">{% csrf_token %}
{#		{% crsf_token %}#}
        <a href="{% url 'index' %}" title="Go to home:)" class="logo">Logo</a>

		<label>Введите имя пользователя:</label>
		<input type="text" name="Username" placeholder="Иван" value="" autocomplete="off" required>

		<label>Введите ваш email:</label>
		<input type="email" name="Email" placeholder="example@mail.ru" value="" autocomplete="off" required>

		<label>Введите ваш пароль:</label>
		<input type="text" name="Password" placeholder="Пароль" required> {#pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль должен содержать не менее одной цифры и одной прописной и строчной буквы, а также не менее 8 и более символов" autocomplete="off"#}

		<input type="submit" name="submit">
		<p>Уже есть аккаунт? <a href="{% url 'login' %}" title="Логин" class="link">Войти</a></p>
    
	</form>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>
