{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Create course</title>
	<link rel="shortcut icon" href="{% static 'courses/img/favicon.png' %}">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'courses/css/login.css' %}">
    <style type="text/css">
        body {
            padding-top: 10%;
        }
    </style>
</head>
<body>
	<form data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1000" id="login" method="POST" action="{% url 'apis:course-create' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="Create">
	</form>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>
